{{ define "main" }}
<div id="single_page_content">
  <h1 class="post_title">
    <a href="{{.URL}}">{{.Title}}</a>
    {{ if .Params.pronunciation}}
      ({{.Params.pronunciation}})
    {{end}}
  </h1>
  <hr/>

  {{ if .Params.memory_keyword }}
    <div class="card mt-3">
      <div class="card-header">
        <h2>Memory</h2>
      </div>
      <div class="card-body">
        <p>
          <strong>Keyword: </strong> {{.Params.memory_keyword}}
        </p>
        <p>
        <strong>Sentence: </strong> {{.Params.memory_sentence}}</p>
      </div>
    </div>
  {{ end }}

  <div class="card mt-3">
    <div class="card-header">
      <h2>Meaning</h2>
    </div>
    <div class="card-body">
      <section>
        <p> <strong>Meaning:</strong> {{ .Params.meaning }} </p>
        <p> <strong>Sentence: </strong>{{ .Params.sentence }}</p>
      </section>
      <hr>
      <div class='article'>
        {{.Content}}
      </div>
    </div>
  </div>


  <div class="text-center py-3">
    {{ if .PrevInSection }}
      <a class="btn btn-info" href="{{.PrevInSection.Permalink}}">Previous Word</a>
    {{ end }}
    {{ if .NextInSection }}
      <a class="btn btn-info" href="{{.NextInSection.Permalink}}">Next Word</a>
    {{ end }}
  </div>

</div>
{{partial "related_content" .}}
{{ partial "comments" . }}
<progress value="0" id="progressBar">
  <div class="progress-container">
    <span class="progress-bar"></span>
  </div>
</progress>
{{ end }}
